/* CSS HEX */
:root {
  --ghost-white: #f3eff5ff;
  --eerie-black: #191919ff;
  --claret: #8d163eff;
  --dark-magenta: #952387ff;
  --verdigris: #26b0baff;
  --silver-sand: #c5ced3ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--ghost-white);
}

nav {
  background-color: var(--eerie-black);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  position: fixed;
  top: 0;
  right: 0;
}

.logo {
  align-self: center;
  margin: 0.5% 4% 0.5% 0.5%;
}

.logo img {
  width: 10%;
}

nav ul {
  align-self: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 1%;
}

nav ul li {
  font-family: 'Raleway', sans-serif;
  font-size: 120%;
  font-stretch: semi-condensed;
  list-style: none;
  text-align: center;
}

nav li a {
  background-color: var(--claret);
  color: var(--ghost-white);
  padding: 10px 50px 10px 50px;
  text-align: center;
  text-decoration: none;
  transition: ease-in-out 0.5s;
}

nav li a:hover {

  background-color: var(--ghost-white);
  color: var(--claret);
  border-radius: 20px;
}


.avatar {
  align-self: center;
  background-color: var(--ghost-white);
  border-radius: 2px;
  box-shadow: 8px 5px 15px 4px rgba(0, 0, 0, 0.34);
  padding: 1%;
  width: fit-content;
  height: fit-content;
  text-align: center;
  transition: ease-in-out 1.5s;


}

.avatar:hover {

  background-color: var(--claret);
  transform: scale(1.2);

}

.avatar img {
  width: 300px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, var(--ghost-white), var(--claret), var(--ghost-white));
}

.presentation {
  background-color: var(--ghost-white);
  color: var(--eerie-black);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
  margin-top: 10%;
  padding: 20px;
  width: 100%;
}

.greetings {
  color: var(--eerie-black);
  font: 24pt 'Raleway', sans-serif;
  margin: 50px auto;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.greetings::after {
  animation: blink 0.3s infinite;
  content: '|';
  margin-left: 1px;
  opacity: 1;
}

.typing-ani {
  animation: typing 2s steps(40) 1s normal both;
}

.text {
  background-color: var(--silver-sand);
  display: flex;
  padding: 2%;
  margin: 1%;
  width: auto;
}

.text p {
  align-self: center;
  color: var(--eerie-black);
  font-family: 'Montserrat', sans-serif;
  font-size: 14pt;
  line-height: 25px;
  text-align: left;
}

.icon-loc {
  align-self: center;
  justify-content: left;
  margin-right: 1%;
}

.project {

  background-image: url(https://images.unsplash.com/photo-1572177812156-58036aae439c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--eerie-black);
  height: auto;
  padding: 20px;
  transition: ease-in-out 2s;
  width: 100%;
}

.project h1 {

  color: var(--ghost-white);
  font: 24pt 'Raleway', sans-serif;


}
.videos {

  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2% auto;
  width: fit-content;
  /*background-color: #8d163eB3;
  display: grid;
  grid-gap: 2%;
  grid-template-columns: repeat(auto-fill, 16em);
  justify-content: center;
  grid-template-rows: auto;
  justify-content: center;
  margin: auto;
  padding: 5%;
  width: 80%;*/

}

.py {
  align-self: center;
  color: var(--ghost-white);
  font: 20pt 'Montserrat';
  margin: 1%;

}

.where {
  color: var(--eerie-black);
  display: flex;
  flex-direction: row;
  height: 90vh;
  justify-content: center;
  padding: 1%;
  transition: ease-in-out 2s;
  width: 100%;
}

.recado {
  background-color: var(--silver-sand);
  /*margin: 0% 10% 0% 10%;*/
  padding: 40px;
  width: 50%;
  height: auto;
  align-content: center;
}

label {
  color: var(--claret);
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

input,
textarea {
  border-radius: 4px;
  border: 1px solid var(--silver-sand);
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 12px;
  resize: vertical;
  width: 100%;
}

.btn {
  background-color: var(--verdigris);
  border-radius: 5px;
  color: var(--ghost-white);
  font-size: large;
  padding: 10px 20px 10px 20px;
}

.btn:hover {
  background-color: var(--claret);
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
  text-align: center;
  width: 100%;
}

.social img {
  width: 40%;
  transition: ease-in-out 0.4s;
}

.social img:hover {
  width: 45%;
}

.contact {

  background-image: url();
}
footer {
  height: 30vh;
 width: 100%;
  background-color: var(--eerie-black);
}

footer p {
  color: var(--claret);
  font-family: 'Montserrat', sans-serif;
  font-size: 20pt;
  padding: 1%;
  text-align: center;
}

.repo a {

  text-decoration: none;
  font: 12pt 'Montserrat';
  color: var(--claret);
}

.repo img {

  margin-left: 1%;
  margin-right: 1%;
  width: 2%;
}
.credits {

  text-align: right;
  color: var(--silver-sand);
  font: 10pt 'Montserrat', sans-serif;
  margin-top: auto;

}

#subir {
  position: fixed;
  bottom: 10px;
  right: -390px;
}

#subir img {
  width: 10%;
  filter: drop-shadow(5px 5px 4px var(--silver-sand));
}

@keyframes typing {
  from {
	width: 0;
  }

  to {
	width: 16em;
  }
}


@keyframes blink {
  0%,
  100% {
	opacity: 1;
  }

  50% {
	opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .where {
	flex-wrap: wrap;
  }

  .videos {

    flex-wrap: wrap;

  }
  #cont {
	width: 0%;
	visibility: hidden;
  }

  .recado {
	width: fit-content;
  }
}
